@import '../../../assets/styles/mixin';

@include wrapper();

.wrapper{
    grid-template-columns: repeat(1,1fr);
    .one{
        grid-column: 1/6;
    }
    .two{
        grid-column: 1/6;
        grid-row: 2;
    }
}