@import '../../../assets/styles/mixin';

@include wrapper();

  .wrapper{
    .one {
      grid-row: 1;
      grid-column-start: 1;
      grid-column-end: 6;
    }
    .two {
      grid-column-start: 1;
      grid-column-end: 6;
      grid-row-start: 2;
      grid-row-end: 2;
    }
    .three {
      grid-column-start: 1;
      grid-row-start: 3;
      grid-row-end: 3;
      grid-column-end: 6;
    }
    .four {
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 4;
      grid-row-end: 4;
      overflow: auto;
    }
    .five {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 5;
      grid-row-end: 5;
    }
  }
