.dark-theme{
    .mat-drawer-content{
        background-color: #424242;
    }
}


::ng-deep .mat-mdc-form-field-input-control:autofill {
    background-color: transparent !important;
    background: none;
    appearance: none;
    &:-webkit-autofill {
        appearance: none;
        background-color: transparent !important;
        background: none;
    }    
}