<section class="edit-user-cnt">
    <div class="permission-list">
        <table class="table table-border table-striped">
            <thead>
                <tr>
                    <th>Permission</th>
                    <th>Level</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Administrator</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Asset Research</td>
                    <td>Full</td>
                </tr>
                <tr>
                    <td>Borrower Credit Info</td>
                    <td>Full</td>
                </tr>
                <tr>
                    <td>Borrower Financials</td>
                    <td>Full</td>
                </tr>
                <tr>
                    <td>Create New</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Create Processing Report</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Create Reconcile File</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Document Set</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Home</td>
                    <td>Full</td>
                </tr>
                <tr>
                    <td>InvAppCanApprove</td>
                    <td>Full</td>
                </tr>
                <tr>
                    <td>InvAppCanApproveFCL</td>
                    <td></td>
                </tr>
                <tr>
                    <td>InvAppCanApproveREO</td>
                    <td></td>
                </tr>
                <tr>
                    <td>InvAppCanRequestFCL</td>
                    <td></td>
                </tr>
                <tr>
                    <td>InvAppCanRequestREO</td>
                    <td></td>
                </tr>
                <tr>
                    <td>InvAppCanRequestFCL</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="permission-action">
        <form>
            <label for="permission">Permssion Template</label>
            <div class="custom-select">
                <select id="permission">
                    <option>Administrator</option>
                    <option>Asset Research</option>
                    <option>Borrower Credit Info</option>
                    <option>Borrower Financials</option>
                    <option>Create New</option>
                    <option>Create Processing Report</option>
                    <option>Create Reconcile File</option>
                    <option>Document Set</option>
                    <option>Home</option>
                    <option>InvAppCanApprove</option>
                    <option>InvAppCanApproveFCL</option>
                    <option>InvAppCanApproveREO</option>
                    <option>InvAppCanRequestFCL</option>
                    <option>InvAppCanRequestREO</option>
                    <option>InvAppCanRequestFCL</option>
                </select>
            </div>
        </form>
        <div class="btn-cnt">
            <button id="appylyTemplate" class="btn btn-primary">Apply Template</button>
            <button id="clearAllPermission" class="btn btn-clear">Clear All Permission</button>
        </div>
        
        <button id="appylyTemplate" class="btn btn-save">Save Permission</button>
    </div>
</section>
