$white: #fff;
$black: #0000;
$blue: #40b4e2;
$kdDark: #303030;
$kdLight: #4a4a4a;
$lightBlue: #40b4e2;

$danger: #bb1f00;

$rgb1: rgb(255 255 255 / 20%);
$rgb2: rgb(255 255 255 / 20%);
$rgb3: rgb(255 255 255 / 20%);
$rgb4: rgb(255 255 255 / 20%);
$rgb5: rgb(255 255 255 / 20%);
$rgb6: rgb(255 255 255 / 20%);
$rgb7: rgb(255 255 255 / 20%);
$rgb8: rgb(255 255 255 / 20%);
$rgb9: rgb(255 255 255 / 20%);
$rgb: rgb(255 255 255 / 20%);