
@import '../../../assets/styles/mixin';

@include wrapper();

.wrapper{
  grid-auto-rows: inherit;
  
  .activeLoan{
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: #282828;
    display: grid;
    place-items: center;
    height: 50px;
  }
  .one {
    grid-column: 1 /6;
    grid-row: 1;
    h4{
      font-size: 1.5rem;
      text-align: center;
      font-weight: 400;
    }
  }
  .two {
    grid-column: 1 /6;
    grid-row: 2;
  }
  .three {
    grid-column: 1 /6;
    grid-row: 3;
  }
}