::ng-deep .Dark .heading{
  color: #fff;
}
.nodata-cnt{
  display: flex;
  margin-bottom: 0;
  padding: 20px 15px; 
  padding-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  h3{
    display: flex;
  }
}